<!-- <!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
    <header><h1>Order Confirmed!</h1></header>
    <h2>Thank you {{ single_order.name }} ({{ single_order.roll }})</h2>
    <p>Your food will be ready at: <strong>{{ single_order.pickup_time }}</strong></p>
    <h3>You ordered:</h3>
    <ul>
        {% for item in single_order["items"] %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <p><strong>Total Payment: ₹{{ single_order['total_price'] }}</strong></p>

</body>
</html>

//edited code -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Order Confirmed</title>
</head>
<body class="confirm-page">
    <header>
            <h1>Order Confirmed!</h1>
    </header>

    <div class="confirm-box">
        <h2>Thank you {{single_order.name }} ({{single_order.roll }})</h2>
        <p>Your food will be ready at: <strong>{{ single_order.pickup_time }}</strong></p>
    <h3>You ordered :</h3>
    <ul>
            {% for item in single_order["items"] %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <p><strong>Total Payment: ₹{{ single_order['total_price'] }}</strong></p>
    </div>
</body>
</html>
