<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>CafePreorder</title>
</head>

<body>
    <header>
        <h1>CafePreorder - Skip the Queue!</h1>
    </header>
    <div class="big-warning">Canteen Closes at 5PM. Orders open again at 7AM.</div>

    <form method="POST" action="/confirm">
        <input type="text" name="name" placeholder="Your Name" required><br>
        <input type="text" name="roll" placeholder="Roll Number" required><br><br>

        <div class="menu">
            {% for item in menu %}
            <div class="item">
                <label class="menu-item">
                    <input type="checkbox" name="items" value="{{ item }}">
                    {{ item }} - ₹{{ prices[item] }}
                </label>
            </div>
            {% endfor %}
        </div>

        <br>
        <label>Pickup Time:</label>
        <input type="time" name="pickup_time" required><br><br>
        <input type="submit" value="Place Order">
    </form>
    <script>
        const prices = {{ prices | tojson }};
        const checkboxes = document.querySelectorAll('input[name="items"]');

        const totalDisplay = document.createElement('div');
        totalDisplay.style.fontSize = '18px';
        totalDisplay.style.fontWeight = 'bold';
        totalDisplay.style.marginTop = '15px';
        totalDisplay.innerText = 'Total: ₹0';
        document.querySelector('form').appendChild(totalDisplay);

        function updateTotal() {
            let total = 0;
            checkboxes.forEach(cb => {
                if (cb.checked) total += prices[cb.value];
            });
            totalDisplay.innerText = 'Total: ₹' + total;
        }

        checkboxes.forEach(cb => cb.addEventListener('change', updateTotal));
    </script>

</body>

</html>